:root{
    --color1:#f0f0f0;
    --color2:#bfbfc9;
    --color3:#333;
    --color4:#3ae4b1;
    --color5:#000000;
    --color6:#FF0000;
    --color7:#00FF00;
    --color8:#867f7f;
    --fontFamily1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fontFamily2: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--color2);
}

header{
    background-color: var(--color5);
    color: var(--color1);
    padding: 2%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#Bjapa{
    font-family: var(--fontFamily1);
    font-size: 60px; 
}
#destaqueBjapa{
    color: var(--color6);
}
#heroSection{
    background-image: url("../assets/variedade-de-comidas-japonesas.png");
    padding: 150px;
    display: flex;
    justify-content: center;
    color: var(--color1);
    font-size: 50px;
    font-family: var(--fontFamily2);
}

#paginas{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

#paginas::before{
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 3px;

    background: red;
}

.pagina{
    height: 60px;
    width: 200px;
    text-align: center;
    padding: 20px;
    list-style: none;
}

.pagina::before{
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 3px;

    background: red;
}
.textoDirecionameto{
    text-decoration: none;
    justify-content: center;
    padding: 20%;
    color: var(--color5);
    font-size: 170%;
    font-family: var(--fontFamily2);
}

.textoDirecionameto:hover{
    text-decoration: underline;
    text-decoration-color: var(--color6);
}

 /*SOBRE*/

 #tituloSobre{
    font-family: var(--fontFamily1);
 }

 #destaqueTituloSobre{
    color: var(--color6);
 }
 .container{
    display: flex;
    padding: 90px;
    margin: 50px;
    font-family: var(--fontFamily1);
 }

#subtituloSobre{
    font-size: 50px;
}
 .caixaTexto{
    text-indent: 5%;
    text-align: justify;
    width: 800px;
    padding: 70px;
 }

 #footerSobre{
    background-color: var(--color8);
 }



 
