:root{
    --color1:#f0f0f0;
    --color2:#333;
    --color3:#555;
    --color4:#3ae4b1;
    --color5:#000000;
    --color6:#FF0000;
    --color7:#00FF00;
    --color8:#0000FF;
}

*{
    padding: 0;
    margin: 0;
}